/* GENERICS */
header{    
    /* debug */
    /* height: 5rem; */
    background-color: #0084fd;
    color: white;
}
header a{
    text-decoration: none;
}
p{
    line-height: 2rem;
}

h2{
    font-size: 2.5rem;
    font-weight: 700;
}
h3{
    
    font-size: 1.8rem;
    font-weight: 700;
}
h4{
    font-size: 1.5rem;
    font-weight: 700;
}
h5{
    color: #0084fd;
    font-size: 1.2rem;
    font-weight: 700;
}
h6{
    font-weight: 300;
}


section{
    /* debug */
    /* height: 1000px; */
    padding: 2rem 0;
}
section:nth-child(even){
    /* debug */
    background-color: #9792e4;
}

footer{
    color: white;
    /* debug */
    /* height: 400px; */
    background-color: #333333;
    padding: 20px;
}

/* HEADER */
.header-nav {
    min-height: 5rem;
    justify-content: space-between;
    align-items: center;

    /* debug */
    /* background-color: yellow;
    border: 2px dashed black; */
}

.header-nav > ul > li {
    display: inline-block;
    margin: 0 10px;
}

.hamburger{
    display: none;
    font-size: 2rem;
}

/* MAIN */
/* #info section */
.row.info{
    flex-wrap: wrap;
    gap: 20px;
    /* debug */
    /* height: 50rem; */
    /* background-color: blue; */
    

}

.col.info{
    width: calc((100% / 3) - (40px / 3));

    /* debug */
    /* min-height: 20rem; */
    /* border: 2px dashed black; */
    border-radius: 1.2rem;
    background-color: #b5ddff;

}

.col.huge{
    width: calc((100% / 3 * 2) - (20px / 3));
}
.col.info .card.w100 i{
    font-size: 5rem;
    color: #0084fd;
}
.col.info .card.w100{
    text-align: center;
}
.col.info .card{
    padding: 1.2rem;
    color: #5a6e7f;
    font-weight: 700;
}
.col.info .card.left > *,
.col.info .card.w100 > *{
    margin: 1rem 0;
}

.col.info > .card.image{
    padding: 0;
    align-self: flex-end;
}

.col.info > .card.image > *{
    width: 250px;
    display: block;
}





/* #planning section */

.row.planning{
    /* debug */
    
    /* height: 50rem; */
    /* background-color: rgb(1, 111, 255); */
}

.col.planning{
    width: calc(100% / 2);
    

    /* debug */
    /* border: 2px dashed black; */
}


.col.planning.left > *{
    margin-top: 3rem;
    color: white;
}
.col.planning.right {
    align-self: flex-end;
    padding: 0 2rem;
}
.col.planning.right .card{
    width: 100%;
    padding: 2rem;
    background-color:white ;
    border-radius: 3rem;
    text-align: center;
}

.col.planning.right .card > * {
    margin-bottom: 1.2rem;
}

.col.planning.right .card > a {
    background-color: #9792e4;
    border-radius: 50%;
    padding: 0.9rem 1rem;
}

/* #testimonials section */

.row.testimonials{
    

    /* debug */
    /* height: 60rem; */
    /* background-color: blue; */
}

.col.testimonials{
    
    /* debug */
    margin: 1.5rem 0;
    /* border: 1px solid black; */
    border-radius: 25px;
    background-color: #9792e4;
    /* height: 15rem; */
    padding: 1rem;
    padding-bottom: 2rem;
}

.col.testimonials.title{
    background: none;
}
.col.testimonials.title > * {
    margin: 1rem 0;
}
.col.testimonials .card-text{
    flex: 1;
    color: white;
    align-self: center;
    padding: 0 2rem;
}

.col.testimonials .card-text > * {
    margin: 1rem 0;
}


/* #benefit section */
.benefits{
    flex-wrap: wrap;
    /* debug */
    background-color: #0084fd;
    /* height: 50rem; */
}

.cards.ben{
    width: calc(100% / 3);
    height: 300px;
    border: 1px solid black;
}

.about-us{
    
    /* debug */
    /* height: 30rem; */
    background-color: aqua;
}

.get-started{

    /* debug */
    height: 20rem;
    background-color: cadetblue;
}

/* FOOTER */

/* MEDIA QUERIES */

/* TABLET AND PORTABLE PC */
@media screen and (max-width: 992px){
    /* HEADER */
    .header-links{
        display: none;
    }
    .hamburger{
        display: block;
    }
    /* info section */
    .col.info.huge{
        flex-direction: column;
    }
    .row.info > .col.info.huge {
        width: calc((100% / 3 * 2) - (20px / 3));
    }
    .row.info > .col.info {
        width: calc((100% / 3) - (40px / 3));
    }
    .col.info > .card{
        width: 100%;
    }
    .col.info > .card.image{
        align-self: flex-start;

    }
    /* planning section */
    .row.planning{
        flex-wrap: wrap;
    }
    .col.planning{
        width: 100%;
    }
    .col.planning.right{
        padding: 2rem 0;
    }
    .col.planning.right .w250px {
        width: unset;
    }
}

/* MOBILE */
@media screen and (max-width: 600px){
    /* info section */
    .row.info > .col.info {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .row.info > .col.info,
    .row.info > .col.info.huge,
    .row.info > .col.info > .card {
        width: 100%;
    }
    .row.info > .col.info > .card.d-flex{
        justify-content: center;
    }


    /* testimonials section */
    .col.testimonials .card{
        display: block;
        text-align: center;
    }
}
