/* GENERICS */
header{    
    /* debug */
    /* height: 5rem; */
    background-color: #0084fd;
}
section{
    /* debug */
    /* height: 1000px; */
    padding: 30px 0;
}
section:nth-child(even){
    /* debug */
    background-color: #9792e4;
}

footer{
    color: white;
    /* debug */
    /* height: 400px; */
    background-color: #333333;
    padding: 20px;
}

/* HEADER */
.header-nav {
    justify-content: space-between;
    align-items: center;

    /* debug */
    background-color: yellow;
    border: 2px dashed black;
}

.header-nav > ul > li {
    display: inline-block;
    margin: 0 10px;
}

/* MAIN */
.info{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* debug */
    /* height: 50rem; */
    background-color: blue;
    

}

.col.info{
    width: calc(100% / 3 - 20px);

    /* debug */
    height: 20rem;
    border: 2px dashed black;

}

.col.huge{
    width: calc(100% / 3 * 2 - 20px);
}

.planning{
    /* debug */
    
    height: 50rem;
    background-color: rgb(1, 111, 255);
}

.col.planning{
    width: calc(100% / 2);

    /* debug */
    border: 2px dashed black;
}

.testimonials{
    

    /* debug */
    /* height: 60rem; */
    background-color: blue;
}

.col.testimonials{

    /* debug */
    border: 1px solid black;
    border-radius: 25px;
    height: 15rem;
    padding: 10px;
}

.benefits{
    flex-wrap: wrap;
    /* debug */
    background-color: #0084fd;
    /* height: 50rem; */
}

.cards.ben{
    width: calc(100% / 3);
    height: 300px;
    border: 1px solid black;
}

.about-us{
    
    /* debug */
    /* height: 30rem; */
    background-color: aqua;
}

.get-started{

    /* debug */
    height: 20rem;
    background-color: cadetblue;
}

/* FOOTER */

